.internal-img img
{
  width: 500px;
  height: 400px;
  border-radius: 20%;
  top: -10px;
  opacity: 0.7;
  box-shadow: 0 0 10px 0 rgba(51, 26, 0,4);
  margin-left: 80px;
  display:none;
}
.internal-img
{

  height: 400px;
  position: relative;
}
.internal-img h2
{
  display: block;
  color: #fff;
  text-shadow: -2px 2px 2px #000;
  font-weight: 600;
  font-size: 35px;
  position: absolute;
  top: 50%;
   left: 58%;
   transform: translate(-60%,-90%);
   font-style: italic;

}
.culture
{
    background-image: radial-gradient(#5B0723,#562233);

  width: 500px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 0 0 10px 0 rgba(51, 26, 0,4);
  margin-left: 80px;
  opacity: 0.6;

}
.culture h1
{
  font-style: italic;
  display: block;
  color: white;
  text-shadow: -2px 2px 2px #000;
  font-weight: 600;
  font-size: 45px;
}
.culture p
{
    font-style: italic;
    color: white;
      font-weight: 800;
      font-size: 15px;
}

#map
{
  width: 500px;
  height: 500px;
    box-shadow: 0 0 10px 0 rgba(51, 26, 0,4);
  border-radius: 7%;
  margin-top: 38px;
}
#weather
{
  background-image: linear-gradient(rgba(112, 162, 211 , 0.5),rgba(112, 162, 211 , 0.5)),url(giphy2.gif);
  width: 500px;
  height: 400px;
    box-shadow: 0 0 10px 0 rgba(51, 26, 0,4);
    border-radius: 20%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

/* background: rgba(0, 0, 0, 0.6); */
}
#weather h2
{

  font-style: italic;
  display: block;
  color: white;
  text-shadow: -2px 2px 2px #000;
  font-weight: 600;
  font-size: 30px;
 padding: 30px;
 transform: translate(20%,20%);
}

body
{
   background-image: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)),url(w4.webp);

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

 .main
{

 padding: 0px;
 margin: 0;
 text-align: center;
 color: #fff;
 font-style: italic;
}

nav
{

  width: 100%;
  height: 80px;
  background-color: #0007;
  line-height: 50px;
transform: translate(0%,20%);
}
nav img
{
   transform: translate(-280%,-30%);

}
nav ul
{
  float: right;
  margin-right: 80px;
}
nav ul li
{
 list-style-type: none;
 display: inline-block;
 transition: 0.8s all;
}
nav ul li:hover
{
  background-color: #0009;

}
nav ul li a
{

transform: translate(20%,-50%);
  text-decoration: none;
  color: white;
  padding: 30px;
}

.curr
{
background-color: black;
/* background: rgba(255, 255, 255, 0.7); */
box-shadow: 0 0 10px 0 rgba(0, 0, 0,4);
border-style: groove;
  border-width: 7px;
  border-color: #2e2e1f;
opacity: 0.7;
width: auto;
}
curr button
{
  width: 100px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
}
curr h2
{
  font-style: italic;
  display: block;
  color: white;
  text-shadow: -2px 2px 2px #000;
  font-weight: 600;
  font-size: 30px;
 padding: 30px;
 transform: translate(50%,50%);
}
.clickme
{
  width: 200px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
    transform: translate(220px,-180px);
  cursor: pointer;
}
.footer
{

 padding: 20px 20px;
 /* background-image: linear-gradient(#cc0099,#2d557d); */
 color: white;
  background-image: linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0, 0.8));
}
.logo
{
  width: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.col-md-3 img:hover
{
  transform: scale(1.1);
}
.last
{
  background-color: #950A08;
  width: 100%;
  color: white;
  text-align: center;
}
